.chappie__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  
  .main__pagination {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 8px;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      a {
        border: 2px solid var(--primary__bg);
        padding: 12px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50% !important;
        cursor: pointer;

        &:hover {
          filter: brightness(1.2);
          transform: scale(1.05);
          transition: all 0.2s ease-in-out;
        }
      }
    }
    .active {
      background: var(--primary__bg);
      color: #fff !important;
    }
    .inactive {
      background: var(--bg);
    }
  }
  button:disabled{
    opacity: .5;
    &:hover{
      filter: brightness(1);
      transform: scale(1);
    }
  }
  .prev,
  .next {
    background: var(--alternative__bg);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #dddddd;
    cursor: pointer;
    svg {
      stroke: var(--main__text);
    }

    &:hover {
      filter: brightness(1.2);
      transform: scale(1.05);
      transition: all 0.2s ease-in-out;
    }
  }
}
