.create__blog {
  .blog__content {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }


  form{
    max-width: 1300px;
    width: 96%;
    margin: 0 auto;

    .first__row{
      display: grid;
      gap: 10px;
      grid-template-columns: 3fr 3fr;
    }
    .second__row{
      display: grid;
      gap: 10px;
      grid-template-columns: 3fr 3fr;
    }
  }
  .button{
    margin-top: 10px;
  }
  /* Basic editor styles */
.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }

  blockquote {
    border-left: 3px solid rgba(#0d0d0d, 0.1);
    padding-left: 1rem;
  }
}
}
