@import "../../styles/variables";

.optionMenu {
  // background: var(--alternative__bg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

  @media screen and (max-width: 768px) {
    top: 0;
    right: 0;
    border-top-right-radius: 0px;
  }

  .container {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 4;

    @media screen and (max-width: 768px) {
      padding: 5px;
    }

    .menu__item {
      width: 60px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      &__content {
        position: fixed;
        inset: 0;
        display: none;
        z-index: 999999;

        &.active {
          display: flex !important;
          align-items: center;
          justify-content: center;

          .overlay {
            background: rgba(0, 0, 0, 0.897);
            position: fixed;
            inset: 0;
          }
          .close__button {
            position: absolute;
            top: -10px;
            right: 0px;
            background: #fff;
            border-radius: 50%;
            z-index: 999;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px;
            width: 35px;
            height: 35px;
          }
          .search__form__container {
            display: flex;
            position: relative;
            width: 90%;
            max-width: 700px;
          }
          form {
            position: relative;
            z-index: 99;
            width: 100%;
          }
        }
      }
      @media screen and (max-width: 768px) {
        width: 55px;
        height: 45px;

        svg {
          width: 30px;
        }
      }

      &:nth-child(2):hover svg {
        transform: rotate(360deg);
        transition: transform 0.5s ease-in-out;
      }
      &:nth-child(2) svg {
        transition: transform 0.5s ease-in-out;
      }
      svg {
        fill: var(--main__text);
        cursor: pointer;
      }
      .search__icon {
        fill: #333 !important;
        z-index: -9;
      }
    }

    .close__btn {
      // background: red;
    }
  }
}
