@import "../../styles/variables";

.floatMenu {
  position: fixed;
  top: 6px;
  right: 6px;
  background: var(--alternative__bg);
  z-index: 3;
  // width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0 0 4px var(--shadow);
  // perspective: 1000px;

  @media screen and (max-width: 768px) {
    top: 0;
    right: 0;
    border-top-right-radius: 0px;
  }

  .container {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 4;

    @media screen and (max-width: 768px){
      padding: 5px;
    }

    .menu__item {
      width: 60px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        width: 55px;
        height: 45px;
        
        svg{
          width: 30px;
        }
      }

      &:nth-child(2):hover svg {
        transform: rotate(360deg);
        transition: transform 0.5s ease-in-out;
      }
      &:nth-child(2) svg {
        transition: transform 0.5s ease-in-out;
      }
      svg {
        fill: var(--main__text);
      }
    }

    .close__btn {
      // background: red;
    }
  }
}
