@import "../../styles/variables";

.content__page {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  display: grid;
  justify-items: center;

  .centered__text,
  .centered__subtext {
    max-width: 600px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
  }
  .centered__subtext {
    font-weight: 500;
  }
  .cards__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px;
    margin-top: 40px;
    align-items: stretch;

    @media screen and (max-width: 1180px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
  .buttons__container{
    display: flex;
    gap: 6px;
    margin: 15px 0;

    button {
      background: var(--alternative__bg);
      box-shadow: var(--shadow);
      color: var(--main__text);
      font-size: 1rem;
      border-radius: 6px;
      transition: all 0.4s ease-in-out;
      padding: 3px 14px;
      border: none;
      cursor: pointer;
      border: 2px solid transparent;

      &.button__active{
        border: 2px solid $primary__color;
      }
      &:hover {
        filter: brightness(1.1);
        transition: all 0.4s ease-in-out;
      }
    }


    @media screen and (max-width: 450px) {
      flex-wrap: wrap;
      justify-content: center;
      button{
        font-size: .9rem;
      }
    }
  }
  .content__container {
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    gap: 20px;
    width: 96%;
  }
  .no__results{
    margin-top: 15px;
    max-width: 600px;
    width: 95%;
    text-align: center;
    h3{
      font-size: 1.5rem;
      font-weight: 300;
      span{
        font-style: oblique;
      }
    }
  }
  //   content ENTRY
  .content__entry {
    background: var(--alternative__bg);
    border-radius: 20px;
    width: 100%;

    .content__banner__image {
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover;
        // max-height: 500px;
      }
    }
    .content__entry__content {
      padding: 30px;
      h1{
        font-size: 3rem;
      }
      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 10px;

        .tag {
          border: 0.2rem solid grey;
          padding: 2px 8px;
          border-radius: 20px;
        }
      }
      .created_by {
        font-weight: 500;
      }
    }
    .content__footer {
      a {
        width: fit-content;
        background: none;
        border: none;
        display: grid;
        grid-template-columns: 40px 1fr;
        align-items: center;
        justify-items: center;
        gap: 20px;
        padding: 10px 20px 10px 10px;
        cursor: pointer;
        transition: background 0.4s ease-in-out;
        border-radius: 20px;

        &:hover {
          background: var(--bg);
          transition: background 0.4s ease-in-out;
        }

        .back__button {
          width: 40px;
          height: 40px;
          background: #fff;
          top: 20px;
          left: 20px;
          display: flex;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    
    @media screen and (max-width: 768px) {
      .content__entry__content {
        h1{
          font-size: 2.4rem;
        }
        .tags{
          .tag{
            font-size: 0.9rem;
          }
        }
        .created_by{
          font-size: 1.3rem;
        }
      }
    }
    @media screen and (max-width: 540px) {
      .content__entry__content {
        padding: 20px;
        h1{
          font-size: 1.8rem;
        }
        .tags{
          .tag{
            font-size: 0.8rem;
          }
        } .created_by{
          font-size: 1rem;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 20px;
    .centered__text {
      font-size: 2rem;
    }
    .centered__subtext {
      font-size: 1.2rem;
      font-weight: 500;
    }
    .content__container {
      width: 100%;
    }
  }
}
