@import "../../styles/variables";

.card {
  background: var(--alternative__bg);
  border-radius: 12px;
  padding: 24px;
  max-width: 550px;
  width: 100%;
  box-shadow: var(--shadow) 0px 2px 2px;
  text-decoration: none;
  transition: all 0.4s ease-in-out 0s;

  @media screen and (max-width: 1440px) {
    padding: 20px;
  }
  @media screen and (max-width: 980px) {
    max-width: 768px;
    padding: 15px;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
    aspect-ratio: 16/9;

    .time {
      position: absolute;
      bottom: 12px;
      right: 12px;
      background: rgba(0, 0, 0, 0.8);
      padding: 5px 9px;
      color: rgb(255, 255, 255);
      font-size: 0.9rem;
      border-radius: 6px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease-in-out;
    }
  }

  .title {
    font-size: 1.7rem;
    margin-bottom: 5px;
    color: var(--main__text);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media screen and (max-width: 980px) {
      font-size: 1.4rem;
    }
  }

  .tags{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;

    .tag{
      background: var(--bg);
      padding: 4px 12px;
      border-radius: 20px;
    }
  }
  .type{
    // background: var(--primary__bg);
    width: fit-content;
    padding: 4px 10px;
    margin-top: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #ffffff;

    &.blog{
      background: var(--primary__bg);
    }
    &.cursos{
      background: var(--secondary__bg);
    }
    &.video{
      background: var(--red);
    }
  }
  .views {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 8px;
    color: var(--tertiary__text);

    svg {
      max-width: 16px;
      fill: var(--tertiary__text);
    }

    small {
      letter-spacing: .01rem;
      font-size: .9rem;
    }
  }
  .date {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 8px;
    color: var(--tertiary__text);

    small {
      margin-top: 2px;
      letter-spacing: .01rem;
      font-size: .9rem;
    }
  }

  .description {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: var(--tertiary__text);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media screen and (max-width: 980px) {
      font-size: 1rem;
    }
  }
}
.card:hover .image img {
  transform: scale(1.2) rotate(2deg);
  transition: all 0.3s ease-in-out;
}
