.chappie__input {
  margin: 10px 0;

  &.type__image {
    cursor: pointer;
    // background: red;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 16px 0;
  }

  .image {
    border: 4px dashed var(--primary__bg);
    border-radius: 5px;
    padding: 2px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 70px;
  }
  .image__area {
    background: var(--alternative__bg);
    width: fit-content;
    padding: 10px 24px;
    border-radius: 10px;
  }

  .left__label {
    display: flex;
    font-size: 0.9rem;
    margin-bottom: 5px;
    text-transform: capitalize;
  }

  .container {
    background: red;
    width: 100% !important;
    display: grid;
    width: fit-content;
    border: 2px solid var(--main__text);
    background: var(--bg);
    border-radius: 10px;
    align-content: stretch;
    justify-content: stretch;
    align-content: stretch;

    &.active {
      border: 2px solid var(--primary__bg);
      transition: all 0.3s ease-in-out;
    }

    &.leftContent {
      display: grid;
      grid-template-columns: minmax(50px, auto) 1fr;

      input {
        padding-left: 14px;
      }
    }
    &.rightContent {
      display: grid;
      grid-template-columns: 1fr minmax(50px, auto);
      input {
        padding-right: 14px;
      }
    }
    &.bothContent {
      grid-template-columns: minmax(50px, auto) 1fr minmax(50px, auto);
      input {
        padding: 15px 14px;
      }
    }

    .lftContent,
    .rghtContent {
      background: var(--alternative__bg);
      width: 100%;
      height: 100%;
      padding: 0px 6px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .lftContent {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .rghtContent {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    input {
      background: transparent;
      padding: 15px 20px;
      color: var(--main__text);
      caret-color: var(--main__text);
      font-size: 1.1rem;
      border: none;
      overflow: hidden;
      width: 100%;
    }

    &.color {
      overflow: hidden;

      input {
        transform: scaleY(2) scaleX(1.02);
        height: 47px;
        padding: 0;
      }
    }
  }

  &.disabled {
    position: relative;
    overflow: hidden;
    user-select: none;
    cursor: not-allowed;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background: rgba(20, 20, 20, 0.397);
      z-index: 10;
    }
  }
  // &:focus-within {
  //   border: 2px solid var(--primary__bg);
  //   transition: all .2s ease-in-out;

  // }
}
