@import "../../styles/variables";

.navbar {
  position: fixed;
  top: 0;
  height: 75px;
  width: 100vw;
  z-index: 4;
  background: var(--alternative__bg);
  transition: background 0.4s ease-in-out;
  box-shadow: var(--shadow) 0px 1px 2px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 900px) {
    height: 60px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.navbar__container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 96%;
  width: 100%;

  .logo {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: $terciary__dark;

      path {
        fill: var(--secondary__text);
      }
    }

    @media screen and (max-width: 900px) {
      margin-bottom: 0;
      width: 55px;
      height: 55px;
      border-bottom-right-radius: 10px;
      svg {
        width: 40px;
      }
    }
  }

  .icon__menu {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 14px;

    @media screen and (max-width: 900px) {
      display: none;
    }

    .icon__item {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff !important;
      width: 70px;
      height: 60px;
      position: relative;

      svg {
        fill: var(--main__text);
      }

      .tooltip {
        position: absolute;
        background: var(--alternative__bg);
        color: var(--tertiary__text);
        font-size: 1.2rem;
        font-weight: 400;
        border-radius: 8px;
        box-shadow: 0 0 5px var(--shadow);
        transform: translateY(50px) scale(0);
        width: 0;
        height: 0;
        // right: 0;
        padding: 0;
        overflow: hidden;
        // opacity: 0;
      }
    }
  }
}

.icon__item:hover svg {
  fill: $primary__color !important;
  transition: fill 0.4s ease-in-out;
}

.icon__item:hover .tooltip {
  width: fit-content !important;
  height: fit-content !important;
  padding: 6px 15px !important;
  // margin-right: -10px;
  transform: translateY(50px) scale(1) !important;
  animation: showToolTipSidebar 0.2s ease-in-out;
}

@keyframes showToolTipSidebar {
  0% {
    opacity: 0;
    transform: translateY(10%) scale(0);
  }
  50% {
    padding: 4px 10px !important;
  }
  100% {
    opacity: 1;
    transform: translateY(50px) scale(1) !important;
  }
}
