.create__course {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header {
        width: 100%;
        max-width: 1300px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .edit__buttons {
            display: flex;
            gap: 10px;
            button {
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                font-weight: 600;
                color: #ffff;
                cursor: pointer;
                &.hide {
                    background: #0c0c0c;
                }
                &.eliminate {
                    background: #d14444;
                }
            }
        }
    }

    .container {
        max-width: 1300px;
        width: 96%;
        margin: 0 auto;

        .one__col {
            display: grid;
        }
        .two__cols {
            display: grid;
            grid-template-columns: 4fr 4fr;
            gap: 15px;
            @media screen and (max-width: 900px) {
                grid-template-columns: 1fr;
                gap: 0;
            }
        }
        .three__cols {
            display: grid;
            grid-template-columns: 4fr 4fr 4fr;
            gap: 15px;
            @media screen and (max-width: 900px) {
                grid-template-columns: 1fr;
                gap: 0;
            }
        }
        .button {
            margin-top: 10px;
        }
    }
}
