@import "../../styles/variables";

.expanded__menu {
  background: var(--alternative__bg);
  color: #fff;
  height: auto;
  // max-width: 300px;
  width: fit-content;
  margin-left: 70px;
  position: fixed;
  top: 82px;
  right: 15px;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 0 4px var(--shadow);
  visibility: hidden;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 1;
  overflow: auto;
  text-align: right;

  &.show {
    visibility: visible;
    opacity: 1;
    // transform: rotateX(360deg);
    transform: translateY(0px);
    transition: all 0.3s ease-in-out;
  }

  @media screen and (max-width: 800px) {
    padding: 24px;
    max-width: 650px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: initial;
    margin-left: 0;
    position: fixed;
    inset: 0;
    padding-top: 80px;
  }

  &__container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1080px) {
      flex-direction: column;
      gap: 40px;
    }
    @media screen and (max-width: 800px) {
      gap: 10px;
    }
    @media screen and (max-width: 768px) {
      padding-bottom: 40px;
    }
  }
}

.social__networking__sites {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  display: none;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    /* border: 1px solid #fff; */

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.columns {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;

  .column {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .title {
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: var(--secondary__text);
  }
  .item {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 6px 0;
  }
  .item a {
    text-decoration: none;
    color: var(--tertiary__text);
  }

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 30px;

    .title {
      width: 300px;
      margin: 0 auto;

      @media screen and (max-width: 768px) {
        width: initial;
      }
    }
  }
}
