.chappie__texteditor {
  display: flex;
  flex-direction: column;
  label {
    display: flex;
    font-size: 0.9rem;
    margin-bottom: 5px;
    text-transform: capitalize;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;

    &.both {
      grid-template-columns: 1fr;
    }

    .edit {
      .ql-container {
        height: auto !important;
      }
    }

    //   &.onlyshow {
    //     background: red;
    //     .ql-toolbar {
    //       display: none !important;
    //     }

    //     .ql-container {
    //       border: 1px solid #fff !important;
    //       border-radius: 10px;
    //     //   min-height: 300px !important;
    //     }
    //   }
  }

}
