@import "../../styles/variables";

.footer {
  background: var(--alternative__bg);
  height: auto;
  width: 100%;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: 0;
  }
}

.principal__footer {
  max-width: 1600px;
  width: 96%;
  margin: 0 auto;
  padding: 90px 0;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1080px) {
    flex-direction: column;
    gap: 40px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 10px;
  }
}

.first__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 300px;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;

    svg {
      fill: var(--secondary__text);
    }
  }
  p {
    margin: 10px 0;
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: var(--secondary__text);
  }

  .social__networking__sites {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      /* border: 1px solid #fff; */

      svg {
        fill: var(--tertiary__text);
      }
    }
  }

  @media screen and (max-width: 1080px) {
    align-items: center;
    text-align: center;

    .logo {
      align-items: center;
      text-align: center;
    }
  }
}
.second__content {
  max-width: 600px;
  width: 96%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;

  .codechappie,
  .projects,
  .company {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .title {
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--main__text);
  }
  .item {
    font-size: 1.2rem;
  }
  .item a {
    text-decoration: none;
    font-weight: 400;
    color: var(--secondary__text);
  }

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 30px;

    .title {
      /* background: red; */
      width: 300px;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 768px) {
    .title {
      width: 240px;
      margin: 0 auto;
    }
  }
}

.copyright__footer {
  max-width: 1400px;
  width: 96%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  small {
    text-align: center;
    font-size: 1rem;
    line-height: 1.4rem;
    color: var(--tertiary__text);
  }
  small a {
    text-decoration: none;
    color: var(--secondary__text);
  }
}
