@import "../../styles/variables";

.blog__page {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  display: grid;
  justify-items: center;


  .centered__text,
  .centered__subtext {
    max-width: 600px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
    
  }

  .centered__text{
    font-size: 2.5rem;
  }
  .centered__subtext {
    font-weight: 500;
    font-size: 1.4rem;
  }

  .blog__container {
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    gap: 20px;
    width: 96%;

    .no__elements{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h3{
        margin-top: 10px;
        font-size: 1.6rem;
        text-align: center;
        font-weight: 400;
      }
      img{
        width: 300px;
      }
      small{
        color: var(--alternative__bg);
        filter: invert(.5);
      }
    }
  }

  //   BLOG ENTRY
  .blog__entry {
    background: var(--alternative__bg);
    border-radius: 20px;
    width: 100%;

    .blog__banner__image {
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover;
        // max-height: 500px;
      }
    }
    .blog__entry__content {
      padding: 30px;
      .blog__main__title {
        font-size: 3.5rem;
        margin-bottom: .2rem;
      }
      h1 {
        font-size: 2.5rem;
      }
      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 10px;

        .tag {
          border: 0.2rem solid grey;
          padding: 2px 8px;
          border-radius: 20px;
          cursor: pointer;
        }
      }
      .created_by {
        font-weight: 500;
        font-size: 1.1rem;
        .author {
          color: var(--primary__bg);
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            filter: brightness(1.2);
            transition: all 0.3s ease-in-out;
          }
        }
      }
      .views{
        margin-bottom: 1rem;
        margin-left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--primary__bg);
        border-radius: 4px;
        width: fit-content;
        padding: 3px 10px;

        svg{
          margin-right: 10px;
          margin-top: 2px;
        }
      }
    }
    .blog__footer {
      a {
        width: fit-content;
        background: none;
        border: none;
        display: grid;
        grid-template-columns: 40px 1fr;
        align-items: center;
        justify-items: center;
        gap: 20px;
        padding: 10px 20px 10px 10px;
        cursor: pointer;
        transition: background 0.4s ease-in-out;
        border-radius: 20px;

        &:hover {
          background: var(--bg);
          transition: background 0.4s ease-in-out;
        }

        .back__button {
          width: 40px;
          height: 40px;
          background: #fff;
          top: 20px;
          left: 20px;
          display: flex;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .blog__entry__content {
        h1 {
          font-size: 2.4rem;
        }
        .tags {
          .tag {
            font-size: 0.9rem;
          }
        }
        .created_by {
          font-size: 1.3rem;
        }
      }
    }
    @media screen and (max-width: 540px) {
      .blog__entry__content {
        padding: 20px;
        h1 {
          font-size: 1.8rem;
        }
        .tags {
          .tag {
            font-size: 0.8rem;
          }
        }
        .created_by {
          font-size: 1rem;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 20px;
    .centered__text {
      font-size: 2rem;
    }
    .centered__subtext {
      font-size: 1.2rem;
      font-weight: 500;
    }
    .blog__container {
      width: 100%;
    }
  }
}
