.blog__page {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  display: grid;
  justify-items: center;

  .centered__text,
  .centered__subtext {
    max-width: 600px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
  }
  .centered__subtext {
    font-weight: 500;
  }
  .button{
    background: var(--secondary__bg);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
  }
  .blog__container {
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    gap: 20px;
    width: 96%;
  }

  //   BLOG ENTRY
  .blog__entry {
    background: var(--alternative__bg);
    border-radius: 20px;
    width: 100%;

    .blog__banner__image {
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover;
        // max-height: 500px;
      }
    }
    .blog__entry__content {
      padding: 30px;
      h1{
        font-size: 3rem;
      }
      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 10px;

        .tag {
          border: 0.2rem solid grey;
          padding: 2px 8px;
          border-radius: 20px;
        }
      }
      .created_by {
        font-weight: 500;
      }
    }
    .blog__footer {
      a {
        width: fit-content;
        background: none;
        border: none;
        display: grid;
        grid-template-columns: 40px 1fr;
        align-items: center;
        justify-items: center;
        gap: 20px;
        padding: 10px 20px 10px 10px;
        cursor: pointer;
        transition: background 0.4s ease-in-out;
        border-radius: 20px;

        &:hover {
          background: var(--bg);
          transition: background 0.4s ease-in-out;
        }

        .back__button {
          width: 40px;
          height: 40px;
          background: #fff;
          top: 20px;
          left: 20px;
          display: flex;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .blog__entry__content {
        h1{
          font-size: 2.4rem;
        }
        .tags{
          .tag{
            font-size: 0.9rem;
          }
        }
        .created_by{
          font-size: 1.3rem;
        }
      }
    }
    @media screen and (max-width: 540px) {
      .blog__entry__content {
        padding: 20px;
        h1{
          font-size: 1.8rem;
        }
        .tags{
          .tag{
            font-size: 0.8rem;
          }
        } .created_by{
          font-size: 1rem;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 20px;
    .centered__text {
      font-size: 2rem;
    }
    .centered__subtext {
      font-size: 1.2rem;
      font-weight: 500;
    }
    .blog__container {
      width: 100%;
    }
  }
}
