.course__page {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .header__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 20px 0;

    .topics__button,
    .back__button {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background: var(--bg);
      border-radius: 10px;
      transition: all 0.4s ease-in-out;
      padding: 2px 10px;

      &:hover {
        filter: brightness(1.1);
        transition: all 0.4s ease-in-out;
      }
    }
    .topics__button {
      display: none;
    }

    @media screen and (max-width: 950px) {
      .topics__button {
        display: flex;
      }
    }

    svg {
      fill: var(--main__text);
    }
  }

  .course {
    .course__header {
      display: grid;
      grid-template-columns: 60px 1fr;
      gap: 20px;
      margin-bottom: 20px;
      grid-column: 1/3;

      .course__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        padding: 10px;
        border-radius: 50%;
        border: 2px solid #fff;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .tags {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 5px;

        .tag {
          background: var(--alternative__bg);
          padding: 2px 10px;
          border-radius: 20px;
        }
      }
    }

    .initial__content {
      .start__button {
        padding: 16px 32px;
        background: #0062ff;
        margin-top: 30px;
        font-size: 1.2rem;
        -webkit-text-decoration: none;
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        width: fit-content;
      }
    }

    .course__content {
      display: grid;
      grid-template-columns: 1fr 300px;
      align-items: flex-start;
      gap: 10px;
      @media screen and (max-width: 1080px) {
        grid-template-columns: 1fr 250px;
      }
      @media screen and (max-width: 950px) {
        grid-template-columns: 1fr;
      }

      .course__topics {
        background: var(--alternative__bg);
        border-radius: 15px;
        padding: 15px;

        @media screen and (max-width: 950px) {
          max-width: 380px;
          width: 100%;
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 4;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          transform: translateX(100%);
          transition: transform 0.4s ease-in-out;

          @media screen and (max-width: 420px) {
            width: 100%;
            max-width: initial;
            border-radius: 0;
          }

          &.show {
            transform: translateX(0%);
            transition: transform 0.4s ease-in-out;
          }
        }

        .header {
          font-size: 2rem;
          // background: var(--bg);
          padding: 10px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .close__button {
            display: grid;
            place-self: center;
            cursor: pointer;
            display: none;

            @media screen and (max-width: 950px) {
              display: grid;
            }

            svg {
              fill: var(--main__text);
              height: 34px;
              width: 34px;
            }
          }
        }

        .topics {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-top: 10px;

          .topic {
            background: var(--alternative__bg);
            border-radius: 10px;
            max-width: 380px;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            .topic__ancor {
              padding: 10px;
              display: flex;
            }

            @media screen and (max-width: 420px) {
              width: 100%;
              max-width: initial;
              // border-radius: 10px;
            }

            &:hover {
              filter: brightness(1.1);
              transition: all 0.2s ease-in-out;
            }
            &.activated {
              background: var(--bg);
            }
          }
        }
      }

      .course__main__content {
        .video {
          aspect-ratio: 16/9;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          border-radius: 15px;
        }
      }
    }
  }
}
