@import "../../styles/variables";

.courses__page {
  //   background: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  h1 {
    font-size: 3rem;
    text-align: center;
    color: var(--main__text);

    @media screen and (max-width: 1280px) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 2rem;
    }
  }
  form {
    display: flex;
    width: 100%;
    max-width: 900px;
  }

  .cards__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px;
    margin-top: 40px;
    align-items: stretch;

    @media screen and (max-width: 1180px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}
