.create__topic {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    width: 98%;
    margin:  0 auto;

    .edit__buttons {
      display: flex;
      gap: 10px;
      button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-weight: 600;
        color: #ffff;
        cursor: pointer;
        &.hide {
          background: #0c0c0c;
        }
        &.eliminate {
          background: #d14444;
        }
      }
    }
  }

  form {
    max-width: 1300px;
    width: 96%;
    margin: 0 auto;

    .first__col {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  }

  .button {
    margin-top: 10px;
  }
}
