@import "../../styles/variables";

.videos__page {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;

  .cards__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px;
    margin-top: 20px;

    @media screen and (max-width: 1280px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}
