/***************
--- Colors ---
**************/
$blue: #0b9b66;
$skyblue: #66e9e1;
$skyblue__light: #5dbadf;
$violet: #7e4fd3;
$yellow: #ffc52e;

// dark colors
$primary__dark: #121822;
$secondary__dark: #070c13;
$terciary__dark: #1f252b;

// light colors
$primary__light: #f0f2f5;
$secondary__light: #ffffff;
$terciary__light: #f0f2f5;

$dark__shadow: #d6dbe7;
$light__shadow: #1a1818;

//--- Buttons ---//
$primary__color: #0b9b66;
$secondary__color: #4b7bec;
$success__color: #5cb85c;
$danger__color: #d9534f;
$warning__color: #ffc52e;
$info__color: #f7f7f7;

//--------TAG COLORS ---------//
$tag1: #fc5c65;
$tag2: #fd9644;
$tag3: #fed330;
$tag4: #26de81;
$tag5: #2bcbba;
$tag6: #eb3b5a;
$tag7: #fa8231;
$tag8: #f7b731;
$tag9: #20bf6b;
$tag10: #0fb9b1;
$tag11: #45aaf2;
$tag12: #4b7bec;
$tag13: #a55eea;
$tag14: #4b6584;
$tag15: #778ca3;
